* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* this helps with width calculations */
  }

  @font-face {
    font-family: 'Carelia';
    src: url('fonts/CareliaUpright.woff2') format('woff2'),
        url('fonts/CareliaUpright.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  background-color: #fcf1ef;
}

  h1 {
    font-family: 'Playfair Display';
    font-size: 90px;
  }

  h2 {
    font-family: 'Playfair Display';
    font-size: 36px;
    color: #702B3D;
    margin: 0px 0px 12px;
    padding-bottom: 2rem;
  }

  h3 {
    font-family: 'Playfair Display';
    font-size: 36px;
    color: #202020;
    margin: 0px 0px 12px;
    padding-bottom: 1rem;
  }

  h6 {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #fb90b1;
    margin: 0px 0px 9px;
  }

  p {
    font-family: 'lato', serif;
    font-size: 20px;
    color: #5c656d;
    padding: 1rem;
  }

  blockquote {
    font-family: 'lato', serif;
    font-size: 20px;
    color: #5c656d;
    padding: 1rem;
  }

  cite {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #fb90b1;
  }

  ul, li {
    font-family: 'lato', serif;
    font-size: 20px;
    color: #5c656d;
    padding: 5px;
  }

  .section1 {
    text-align:center;
  }

  .section2 {
    text-align:center;
  }

  .section3 {
    background-color: #f2e4e3;
  }

  .section4 h2 {
    text-align:center;
  }

  .reviews {
    background-color: #702B3D;
  }

  .reviews h2 {
    color: #fcf1ef;
  }

  .section5 {
    text-align: center;
  }

  article {
    padding: 3rem;
    border: 8px solid #fcf1ef;
  }

  a {
    font-family: 'lato', serif;
  }

  .services-images {
    display: block;
    margin: auto;
    width: 500px; /* or whatever width you want */
  }
  
  .button1 {
    display: inline-block;
    padding: 17px 48px;
    border: none;
    border-radius: 27px;
    margin: 20px;
    color: #fb90b1;
    background-color: #f4f6f8;
    font-size: 1.25rem;
    transition-duration: 450ms;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button1:hover {
    color: #f4f6f8;
    background-color: #702B3D;
    
  }

  .button2 {
    display: inline-block;
    padding: 17px 48px;
    border: none;
    border-radius: 27px;
    margin: 20px;
    color: #f4f6f8;
    background-color: #702B3D;
    font-size: 1.25rem;
    transition-duration: 450ms;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button2:hover {
    color: #202020;
    background-color: #8A4757;
    color: #f4f6f8;
  }

  /*Image overlay for banner*/
  .section1 {
    text-align:center;
    background: url(/portfolio/permanentmakeup/img/istockphoto-1184644734-1024x1024.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
  color: white; /* Text color for the overlay */
}

.overlay p {
    color: white;
    padding: 20px;
}

/* Responsive design for smaller devices */
@media only screen and (max-width: 600px) {
  .overlay h1 {
      font-size: 34px; /* Adjust size as needed */
  }
  .overlay p {
      font-size: 16px; /* Adjust size as needed */
      padding: 10px; /* Adjust padding as needed */
  }
  /* Add any other styling adjustments for smaller screens here */
}

  /*Services text and image wrapping*/
  .container2 {
    display: flex;
    flex-wrap: wrap;
  }

  .container3 {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .text-content,
  .image-content {
    flex: 1 0 50%; /* Grow and shrink equally, base width 50% */
    padding: 1rem;
    box-sizing: border-box; /* This includes padding and border in the element's total width and height */
}

.image-content img {
  width: 100%;
  height: auto;
}
 
  .image-wrapper {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
}

@media (max-width: 600px) {
  .text-content,
  .image-content {
  flex: 1 0 100%; /* On screens smaller than 600px, switch to one column */
  }
}
  /*Services text and image wrapping end*/

  .price {
    font-size: 24px;
    font-weight: bold;
  }

  /*Reviews*/
  .review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .review {
    flex: 0 0 calc(33.33% - 20px); /* 33.33% for 3 items and minus 20px for the gap */
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 20px; /* space at the bottom */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
    background-color: #fcf1ef;
  }
  
  @media (max-width: 600px) {
    .review {
      flex: 0 0 100%; /* On screens smaller than 600px, switch to one column */
    }
  }  
  /*Reviews End*/

  /*Footer*/
  footer {
    padding: 2rem;
    text-align: right;
    font-family: 'lato', serif;
    color: #5c656d;
  }
  /*Footer end*/