

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px; /* Adjust the spacing between logo and text */
}

.logo-text {
  font-size: 18px; /* Adjust the font size as needed */
}

