h2 {
    padding: 15px;
}

p {
  font-size: 1rem;
  padding: 10px;
  }

#beginning h2 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 15px;
  width: 100%;
  }

#current {
  background-color: #f1ece5;
  width: 100%;
  }
  
#current h2 {
  color:#ff5c81;
  text-align: center;
  }

  #interests {
    width: 100%;
    }
    
  #interests h2 {
    color: #0A66C2;
    text-align: center;
    }

.card {
  display: flex;
  flex-wrap: wrap;
}

/* Article settings and pre-transition */
.card {
  flex: 1;
  background-color: grey;
  border: solid 2px black;
  border-color: black
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  max-width: 100%;
}