.section1 {
  text-align: center;
  justify-content: center;
}

/* Contact Page Form */
.hidden {
    display: none;
  }
  
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #contactForm label,
  #contactForm input,
  #contactForm textarea {
    margin-bottom: 10px; /* Add desired spacing between elements */
  }
  
  #contactForm textarea {
    height: 100px; /* Adjust the height as needed */
    width: 200px;
  }
  
  #contactForm button {
    margin-top: 10px; /* Add space above the button */
  }
  
  textarea {
    width: 8rem;
    height: 8rem;
  }

  /*Form Styling*/
input[type="text"], input[type="email"] {
  border: solid 1px;
  border-color: darkgray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 80%;
}

textarea {
  border: solid 1px;
  border-color: darkgray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 80%;
}
/*Form Styling END*/