/*Footer*/
footer {
    padding: 1rem;
    justify-content: center;
    text-align: center;
    
    color: #FFFFFF99;
    background-color: #293043;
  }

  footer p {
    font-size: 12px;
  }
/*Footer End*/

  /*Other logos formatting*/
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50px; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 10px; /* Adjust the spacing between logo and text */
  padding: 5px;
  transition: transform 0.3s ease-in-out; /* This will make the scaling smooth */
}

.logo:hover {
  transform: scale(1.1); /* This will increase the size of the image by 10% on hover */
}

.logo-text {
  font-size: 18px; /* Adjust the font size as needed */
}
/*Other logos formatting END*/
/*Footer End*/

/*Other logos formatting END*/