/*Footer*/
footer {
    display: flex;
    padding: 1rem;
    background-color: #fafafa;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
  }
  
  .logo {
    transition: transform 0.3s ease-in-out; /* This will make the scaling smooth */
  }
  
  .logo:hover {
    transform: scale(1.1); /* This will increase the size of the image by 10% on hover */
  }
  /*Footer End*/