main {
  padding-top: 80px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  padding: 3px;
}

p {
 font-size: 1rem;
 padding: 3px;
 color: #757575;
}

section {
  display: flex;
  flex-wrap: wrap;
}

#banner {
  text-align: center;
  padding-bottom: 3rem;
  width: 100%;
}

codingImg {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

#banner p {
  font-size: 2rem;
}

#intro {
  width: 100%;
  padding: 15px 10px;
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

/* Article settings and pre-transition */
.card {
  flex: 1;
  border: solid 1px;
  border-color: darkgray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
  box-shadow: 0px 2px 3px lightgray;
  transition: all 0.4s;
  cursor: pointer;
  background-color: white;
}

/* Article pseudo-class */
 .card:hover {
  box-shadow: 0px 3px 4px black;
}

#latestWork {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #3066cb;
  color: white;
}

#latestWorkCards {
  padding-bottom: 8rem;
  position: relative;
  background-color: #3066cb;
}

#collaborate {
  padding-top: 1rem;
  padding-bottom: 8rem;
  position: relative;
  justify-content: center;
  text-align: center;
}

button {
  padding: 1.5rem;
  border: 2px solid #3066cb;
  margin: 20px;
  color: black;
  border-radius: 9999px;
  font-size: 1.25rem;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
}

button:hover {
  background-color: #3066cb;
  color: white;
}

footer {
  display: flex;
  padding: 1rem;
  background-color: #f5f5f5;
  border-bottom: 0.5px solid lightgray;
  color: #757575;
  
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}
