.home-section1 {
    text-align: center;
    justify-content: center;
  }
  
  .home-section2 {
    text-align: center;
    justify-content: center;
  }
  
  .home-section3 {
    text-align: center;
    justify-content: center;
  }

  /*Banner text and image wrapping*/
.container1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .text-content,
  .image-content {
    flex: 1 0 50%; /* Grow and shrink equally, base width 50% */
    padding: 1rem;
    box-sizing: border-box; /* This includes padding and border in the element's total width and height */
    text-align:left;
    align-items: center;
  }
  
  .image-content img {
  width: 100%;
  height: auto;
  }
  
  .image-wrapper {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
  }
  
  @media (max-width: 600px) {
  .text-content,
  .image-content {
  flex: 1 0 100%; /* On screens smaller than 600px, switch to one column */
  }
  }
  /*Banner text and image wrapping end*/

  /*Latest work text and image wrapping*/
 .container2 {
  display: flex;
  flex-wrap: wrap;
  }

  #arborvita-latest {
    border-radius: 10px;
    margin: 20px;
  }
  
  #arborvita-latest:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3), 0 8px 24px 0 rgba(0, 0, 0, 0.22);
  }
  
  #banner {
    display: flex;
    padding-bottom: 1rem;
    width: 100%;
  }
  
  codingImg {
    display: flex;
    justify-content: center;
  }
  
  #coding-image img {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  
  @media screen and (max-width: 600px) {
    #banner {height: 100vh;}
    #coding-image img {width: 100%;}
    }
  
  #banner-intro {
    width: 100%;
    font-size: 2rem;
    color: #323b4a;
  }

  .latest1,
.latest2 {
  flex: 1 0 50%; /* Grow and shrink equally, base width 50% */
  padding: 1rem;
  box-sizing: border-box; /* This includes padding and border in the element's total width and height */
  text-align: center;
  border: solid 5px white;
  border-radius: 15px;
}

.latest1 {
  background: linear-gradient(135deg, #d8447e, #d95046, #df7238);
}

.latest2 {
  background: linear-gradient(to top,#7979CA, #9797fc, #B6B6FD, #C5C5FE);
}

.image-content img {
width: 100%;
height: auto;
}

.image-wrapper {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
}

@media (max-width: 600px) {
.text-content,
.image-content {
flex: 1 0 100%; /* On screens smaller than 600px, switch to one column */
}
}
/*Latest Work text and image wrapping end*/

.button1 {
  display: inline-block;
  padding: .9rem;
  border: 2px;
  border-radius: 30px;
  margin: 20px;
  color: white;
  background-color: #1473e6;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
}

.button1:hover {
  color: white;
  background-color: #0d4ca2;
  
}