* {
  padding: 0;
  margin: 0;
  font-family: figtree;
}

main {
  padding-top: 1rem;
}

h1 {
  font-size: 2.2rem;
  padding: 1rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  padding: 5px;
}

h3 {
  font-size: 1.6rem;
  padding: 3px;
}

p {
 font-size: 1.2rem;
 padding: 1rem;
}

li {
  padding: 5px;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  position: relative;
}

.section1 {
  text-align: center;
  justify-content: center;
}

.section2 {
  text-align: center;
  justify-content: center;
}

.section3 {
  text-align: center;
  justify-content: center;
}

#arborvita-latest {
  border-radius: 10px;
  margin: 20px;
}

#arborvita-latest:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3), 0 8px 24px 0 rgba(0, 0, 0, 0.22);
}

#languages {
  background: linear-gradient(to right, #da437d, #d94b58, #da5536, 
  #df7539, #e6983c);
}

#dev-tools {
  background: #fe9400;
}

#services {
  display: block;
}

.services {
  background-color: #a450f7;
  color: #faf6fd;
}

#banner {
  display: flex;
  padding-bottom: 1rem;
  width: 100%;
}

codingImg {
  display: flex;
  justify-content: center;
}

#coding-image img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

@media screen and (max-width: 600px) {
  #banner {height: 100vh;}
  #coding-image img {width: 100%;}
  }

#banner-intro {
  width: 100%;
  font-size: 2rem;
  color: #323b4a;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

/*Banner text and image wrapping*/
.container1 {
  display: flex;
  flex-wrap: wrap;
}

.text-content,
.image-content {
  flex: 1 0 50%; /* Grow and shrink equally, base width 50% */
  padding: 1rem;
  box-sizing: border-box; /* This includes padding and border in the element's total width and height */
  text-align:left;
  align-items: center;
}

.image-content img {
width: 100%;
height: auto;
}

.image-wrapper {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
}

@media (max-width: 600px) {
.text-content,
.image-content {
flex: 1 0 100%; /* On screens smaller than 600px, switch to one column */
}
}
/*Banner text and image wrapping end*/

/*Latest work text and image wrapping*/
.container2 {
  display: flex;
  flex-wrap: wrap;
}

.latest1,
.latest2 {
  flex: 1 0 50%; /* Grow and shrink equally, base width 50% */
  padding: 1rem;
  box-sizing: border-box; /* This includes padding and border in the element's total width and height */
  text-align: center;
  border: solid 5px white;
  border-radius: 15px;
}

.latest1 {
  background: linear-gradient(135deg, #d8447e, #d95046, #df7238);
}

.latest2 {
  background: linear-gradient(to top,#7979CA, #9797fc, #B6B6FD, #C5C5FE);
}

.image-content img {
width: 100%;
height: auto;
}

.image-wrapper {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
}

@media (max-width: 600px) {
.text-content,
.image-content {
flex: 1 0 100%; /* On screens smaller than 600px, switch to one column */
}
}
/*Latest Work text and image wrapping end*/

/* Article settings and pre-transition */
.card {
  flex: 1;
  border: solid 1.5px;
  border-color: darkgray;
  border-radius: 5px;
  padding: 1rem;
  margin: 10px;
  max-width: 100%;
  transition: all 0.4s;
  /*cursor: pointer;*/
  box-shadow: 0 1px 3px rgba(48, 102, 203, 0.8);
}

/* Article pseudo-class */
 /*.card:hover {
  border-color: purple;
  box-shadow: 0 2px 4px rgba(48, 102, 203, 0.8);
  transform: scale(1.01);
}*/

#latestWork {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #fafafa;
}

.button1 {
  display: inline-block;
  padding: .9rem;
  border: 2px;
  border-radius: 30px;
  margin: 20px;
  color: white;
  background-color: #1473e6;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
}

.button1:hover {
  color: white;
  background-color: #0d4ca2;
  
}

.button1:active {
  color: black;
  border: 2px solid #a450f7;
}

/* Contact Page Form */
.hidden {
  display: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactForm label,
#contactForm input,
#contactForm textarea {
  margin-bottom: 10px; /* Add desired spacing between elements */
}

#contactForm textarea {
  height: 100px; /* Adjust the height as needed */
  width: 200px;
}

#contactForm button {
  margin-top: 10px; /* Add space above the button */
}

textarea {
  width: 8rem;
  height: 8rem;
}

/*Other logos formatting*/
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 10px; /* Adjust the spacing between logo and text */
  padding: 5px;
}

.logo-text {
  font-size: 18px; /* Adjust the font size as needed */
}
/*Other logos formatting END*/

/*Form Styling*/
input[type="text"], input[type="email"] {
  border: solid 1px;
  border-color: darkgray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 80%;
}

textarea {
  border: solid 1px;
  border-color: darkgray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 80%;
}
/*Form Styling END*/

/*Survey form */
form {
  padding: 1rem;
}

label {
  padding: 2rem;
}

form#surveyForm label,
form#surveyForm input[type="text"],
form#surveyForm input[type="email"],
form#surveyForm textarea {
  display: block;
  margin-bottom: 5px;
}

/*Survey form End */

/*Footer*/
footer {
  display: flex;
  padding: 1rem;
  background-color: #fafafa;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.logo {
  transition: transform 0.3s ease-in-out; /* This will make the scaling smooth */
}

.logo:hover {
  transform: scale(1.1); /* This will increase the size of the image by 10% on hover */
}
/*Footer End*/

* {
  box-sizing: border-box;
}

