* {
  font-family: figtree;
  text-align:center;
}

main {
  padding-top: 5px;
}

h1 {
  font-size: 2.8rem;
  padding: 5px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  color: blue;
}

h3 {
  font-size: 1.4rem;
  padding: 3px;
}

p {
 font-size: 1.2rem;
 padding: 3px;
 color: #757575;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
 
/*Template for section 1 of all pages*/
.section1 { 
  border-bottom: solid 1px darkgray;
}

/*Template for section 2 of all pages*/
.section2 {
  padding-bottom: 7rem;
  position: relative;
  background-color:#fafafa;
  border-bottom: solid 1px black;
}

/*Template for section 3 of all pages*/
.section3 {
  padding-top: 3rem;
  padding-bottom: 8rem;
  position: relative;
  justify-content: center;
  text-align: center;
}

section article h3 {
  padding-top: 30px;
}

#banner {
  text-align: center;
  padding-bottom: 3rem;
  width: 100%;
}

codingImg {
  display: flex;
  justify-content: center;
}

#coding-image img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

@media screen and (max-width: 600px) {
  #banner {height: 100vh;}
  #coding-image img {width: 100%;}
  }

#banner-intro {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

/* Article settings and pre-transition */
.card {
  flex: 1;
  border: solid 1.5px;
  border-color: blue;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
  transition: all 0.4s;
  cursor: pointer;
  background-color: white;
}

/* Article pseudo-class */
 .card:hover {
  border-color: purple;
  box-shadow: 0 2px 4px rgba(48, 102, 203, 0.8);
  transform: scale(1.01);
}

#latestWork {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #fafafa;
}

.button1 {
  display: inline-block;
  padding: 1.5rem;
  border: 2px solid blue;
  border-radius: 99px;
  margin: 20px;
  color: black;
  font-size: 1.25rem;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.button1:hover {
  border: 2px solid purple;
  box-shadow: 0 4px 6px rgba(48, 102, 203, 0.8);
  transform: translateY(-2px);
}

.button1:active {
  color: black;
  border: 2px solid purple;
  box-shadow: 0 0 #666;
  transform: translateY(0);
}



footer {
  display: flex;
  padding: 1rem;
  background-color: #f5f5f5;
  border-bottom: 0.5px solid lightgray;
  color: #757575;
  
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

/* Contact Page Form */
.hidden {
  display: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactForm label,
#contactForm input,
#contactForm textarea {
  margin-bottom: 10px; /* Add desired spacing between elements */
}

#contactForm textarea {
  height: 100px; /* Adjust the height as needed */
  width: 200px;
}

#contactForm button {
  margin-top: 10px; /* Add space above the button */
}

textarea {
  width: 8rem;
  height: 8rem;
}

/*Other logos formatting*/
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px; /* Adjust the spacing between logo and text */
  text-align:center;
}

.logo-text {
  font-size: 18px; /* Adjust the font size as needed */
}
/*Other logos formatting END*/

/*Form Styling*/
input[type="text"], input[type="email"] {
  border: solid 1.5px;
  border-color: blue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}
/*Form Styling END*/