/*This is for styling for every page*/

* {
  padding: 0;
  margin: 0;
  font-family: figtree;
}

main {
  padding-top: 1rem;
}

h1 {
  font-size: 2.2rem;
  padding: 1rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  padding: 5px;
}

h3 {
  font-size: 1.6rem;
  padding: 3px;
}

p {
 font-size: 1.2rem;
 padding: 1rem;
}





.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}



/*Latest work text and image wrapping*/
.container2 {
  display: flex;
  flex-wrap: wrap;
}



/* Article settings and pre-transition */
.card {
  flex: 1;
  border: solid 1.5px;
  border-color: darkgray;
  border-radius: 5px;
  padding: 1rem;
  margin: 10px;
  max-width: 100%;
  transition: all 0.4s;
  /*cursor: pointer;*/
  box-shadow: 0 1px 3px rgba(48, 102, 203, 0.8);
}

#latestWork {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #fafafa;
}

.button1 {
  display: inline-block;
  padding: .9rem;
  border: 2px;
  border-radius: 30px;
  margin: 20px;
  color: white;
  background-color: #1473e6;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
}

.button1:hover {
  color: white;
  background-color: #0d4ca2;
  
}

.button1:active {
  color: black;
  border: 2px solid #a450f7;
}



/*Other logos formatting*/
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 10px; /* Adjust the spacing between logo and text */
  padding: 5px;
}

.logo-text {
  font-size: 18px; /* Adjust the font size as needed */
}
/*Other logos formatting END*/

/*Form Styling*/
input[type="text"], input[type="email"] {
  border: solid 1px;
  border-color: darkgray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 80%;
}

textarea {
  border: solid 1px;
  border-color: darkgray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 80%;
}
/*Form Styling END*/





* {
  box-sizing: border-box;
}

