@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree";
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right; 
  background-color: rgba(255, 255, 255, 0.9); /* Set the background color with transparency */
}

nav a {
  display: inline-block;
  margin-right: 20px;
  text-align: center; 
  text-decoration: none;
  padding: 30px 16px;
  color: blue;
  font-size: 1.3rem;
}

nav a:first-child {
  margin-left: 0;
}

a:hover:not(.active) {
  color: purple;
}

.active {
  background-color: purple;
}

@media screen and (max-width: 600px) {
  nav a {
    display: block;
    text-align: left;
  }
}
