.section1 {
  padding: 1rem;
  text-align: center;
}

.section2 {
  text-align: center;
  justify-content: center;
}

.section3 {
  text-align: center;
  justify-content: center;
}
 
 /*Services table*/
  table {
    display: inline-block;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
  }
  
  .services {
    border: 1px solid black;
    border-radius: 10px;
  }
  
  th, td {
    padding: 10px;
    margin: 5px;
  }
  /*Services table END*/