.services-hero video {
  display: block;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  object-fit: cover; /* Cover the entire container without distortion */
}
 
 .new-website {
   padding: 1rem;
   text-align: center;
   justify-content: center;
   position: relative;
 }

 .new-website::before {
  content: "";
  position: absolute;
  left: 15%; /* Center the border */
  right: 15%;
  top: 0; /* Position at the top */
  border-top: 2px solid #2c2c2c; /* Border styling */
}
 
 /*Services table*/
 table {
    display: inline-block;
    padding: 0.1rem;
    border: 1px solid none;
    background-color: #705244;
    border-radius: 5px;
  }
  
  .services {
    border: 1px solid none;
    border-radius: 5px;
  }

  .basic {
    background-color: #CD7F32;
  }

  .standard {
    background-color: #aaa9ad;
  }

  .premium {
    background-color: #D4AF37;
  }
  
  th, td {
    padding: 10px;
    margin: 5px;
  }
  /*Services table END*/
