.section1 {
  padding: 1rem;
  text-align: center;
}

.section2 {
  text-align: center;
  justify-content: center;
}

.section3 {
  text-align: center;
  justify-content: center;
}
 
 /*Services table*/
  table {
    display: inline-block;
    padding: 1rem;
    border: 1px solid none;
    border-radius: 5px;
    background: linear-gradient(135deg,#d8447e,#d95046,#df7238);
    color: white;
  }
  
  .services {
    border: 1px solid none;
    border-radius: 5px;
  }

  .basic {
    background-color: #CD7F32;
  }

  .standard {
    background-color: #aaa9ad;
  }

  .premium {
    background-color: #D4AF37;
  }
  
  th, td {
    padding: 10px;
    margin: 5px;
  }
  /*Services table END*/